<h3>New Config value</h3>

<% form_for(@config_value) do |@f| %>
  <%= @f.error_messages %>
		<%= render :partial => 'form' %>
  <p>
    <%= @f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', config_values_path %>