<h3>Forgot Password</h3>
<% form_tag url_for(:action => 'forgot_password') do %>
	<div class="registercontainer" id="content">
		<div class="regformcont"> 
			<div class="regfieldname">Enter your user name</div>
			<div class="regfieldinput"><%= text_field_tag 'username', nil, :size => "30" %></div>
		</div>
		<div class="regformcont"> 
			<div class="regfieldname"></div>
			<div class="regfieldinput"><%= submit_tag 'Reset Password' %></div>
		</div>
	</div>
<% end -%>