<div class="contenttopnavigation">
	<div class="contenttopnavleft"> 
		<div class="contenttopnavicon">
			<img src="/images/signup_key.gif" width="26" height="22" />
		</div>
		<div class="contenttopnavtext">
			Change Password
		</div>
	</div>
</div>
<!-- Actor wrapper strats here -->
<div class="actorwrapper">
	<div class="registertopcont"> 
		<div class="registerwrapper" align="center"> 
			<% form_for @user, :url => {:action => 'reset_password'} do |@f| -%>
				<div class="registercontainer" id="content"> 
					<div class="regformcont"> 
						<div class="regfieldname">Password:</div>
						<div class="regfieldinput"><%= @f.password_field 'password', :size => "30" %></div>
						<div class="regfieldquestionmark"><a href="#"><img border="0" src="/images/field_question.gif"/></a></div>
					</div>
					<div class="regformcont"> 
						<div class="regfieldname">Confirm Password:</div>
						<div class="regfieldinput"><%= @f.password_field 'password_confirmation', :size => "30" %></div>
						<div class="regfieldquestionmark"><a href="#"><img border="0" src="/images/field_question.gif"/></a></div>
					</div>
					<div class="regformcont"> 
						<div class="regfieldname"></div>
						<div class="regfieldinput"><%= submit_tag 'Change Password' %></div>
					</div>
				</div>
			<% end -%>
		</div>
	</div>
</div>