<div class="regformcont"> 
	<div class="regfieldname"><%= text -%></div>
	<div class="regfieldinput"><%= @f.password_field field_name, :size => '50' -%></div>
	<% if show_help = false -%>
		<div class="regfieldquestionmark"><a href="#"><img border="0" src="/images/field_question.gif"/></a></div>
	<% end -%>
</div>