<h1>New address</h1>

<% form_for(@address) do |@f| %>
  <%= @f.error_messages %>
	<div class="registercontainer" id="content">  
		<%= render :partial => 'form' %>
		<div class="regformcont"> 
			<div class="regfieldname"></div>
			<div class="regfieldinput"><%= @f.submit "Create" %> or <%= link_to 'Go back', addresses_path %></div>
		</div>
	</div>
<% end %>

